@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

// Colors
// Primary
$color-very-dark-blue: hsl(243, 87%, 12%);
$color-desaturated-blue: hsl(238, 22%, 44%);

// Accent
$color-bright-blue: hsl(224, 93%, 58%);
$color-moderate-cyan: hsl(170, 45%, 43%);

// Neutral
$color-light-grayish-blue: hsl(240, 75%, 98%);
$color-light-gray: hsl(0, 0%, 75%);

// Typography
// Headings, Call-to-actions, Header Navigation
// Weights: 400, 700
$font-raleway: "Raleway", sans-serif;
// Body
// Weights: 400
$font-opensans: "Open Sans", sans-serif;

* {
  margin: 0;
  padding: 0;
}

.container {
  margin-right: 3em;
  margin-left: 3em;
}

.topnav {
  display: flex;
  justify-content: space-between;

  padding-top: 3em;

  font-family: $font-raleway;
  font-weight: 400;
  font-size: large;
  height: 3rem;
  margin-bottom: 5rem;
}

.topnav > div {
  display: flex;
  gap: 50px;
}

.topnav > div > div {
  color: $color-very-dark-blue;
  line-height: 3rem;
  vertical-align: middle;
}

.content {
  display: flex;
  margin-top: 2em;
}

.content-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;

  gap: 1rem;
}

.padding-top-2 {
  padding-top: 2rem;
}
.content-column img {
  width: 100%;
}

.curve {
  margin-top: 10rem;
}

.curve > img {
  width: 100%;
  padding: 0;
  margin-bottom: -6px;
}

.content-column h2 {
  font-family: $font-raleway;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.5em;
}

.content-column p {
  font-family: $font-opensans;

  font-weight: 400;
}

.content-column form {
  display: flex;

  gap: 1rem;
  justify-content: start;
}

.content-column form > input {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  width: 50%;
}

.content-column form > button {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: $color-bright-blue;
  border-style: none;
  border-radius: 2px;
  box-shadow: 1px 1px 3px $color-light-gray;
  font-family: $font-opensans;
  font-weight: 700;
  color: $color-light-grayish-blue;
  font-size: small;
}

.content-column form > button:hover {
  filter: brightness(120%);
}

.content-second {
  background-color: $color-light-grayish-blue;
  margin-left: 0;
  margin-right: 0;
  padding-left: 3em;
  padding-right: 1em;
  margin-top: 0;
  padding-bottom: 5rem;
}

.content-second p {
  margin-top: 1rem;
}

.card {
  background-color: white;
  font-size: smaller;
  width: 300px;
  margin-top: 2rem;
  padding: 2rem;
  box-shadow: 0 0 10px hsl(0, 0%, 75%, 0.6);
}

.card > img {
  width: 1em;
}

.avatar {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
}

.avatar img {
  width: 3em;
  border-radius: 100%;
  margin-right: 1rem;
}

.fylolink {
  margin-top: 2rem;
  color: $color-moderate-cyan;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-bottom: solid 1px $color-moderate-cyan;
  width: fit-content;
  line-height: 1rem;
}

.fylolink:hover {
  filter: brightness(120%);
}

.fylolink img {
  width: 1rem;
  line-height: 1rem;
  vertical-align: middle;
}

.calltoaction {
  background-color: $color-desaturated-blue;
  display: flex;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: white;
  flex-shrink: 0;
}

.calltoaction > div {
  padding: 3rem;
  width: 100%;
}

.calltoaction h3 {
  font-weight: 700;
  font-family: $font-raleway;
  font-size: x-large;
  margin-bottom: 1rem;
}

.calltoaction p {
  font-family: $font-opensans;
  padding-right: 2rem;
}

.calltoaction > div > form > input {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  width: 70%;
  box-shadow: 1px 1px 5px hsl(0, 0%, 25%, 0.6);
  border: none;
  border-radius: 3px;
}

.calltoaction > div > form > button {
  background-color: $color-bright-blue;
  color: white;
  font-weight: 700;
  margin-top: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: none;
  box-shadow: 1px 1px 5px hsl(0, 0%, 25%, 0.6);
  border-radius: 3px;
}

.calltoaction > div > form > button:hover {
  filter: brightness(120%);
}

.fylofooter {
  display: flex;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 5rem;
  padding-top: 4rem;
  background-color: $color-very-dark-blue;
  color: white;
  font-weight: 400;
  font-family: $font-raleway;
  font-size: small;

  &__logo {
    filter: saturate(100%) brightness(0%) invert(100%) sepia(35%) saturate(0%)
      hue-rotate(54deg) brightness(112%) contrast(100%);
    margin-bottom: 1rem;
  }
  &__contactinfo {
    display: flex;
    gap: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  &__icons {
    display: flex;
    gap: 1rem;
    margin-right: 3rem;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px;
    border-radius: 100%;
    padding: 3px;
    width: 1.5rem;
    height: 1.5rem;
  }

  &__icon:hover {
    color: $color-bright-blue;
  }
}

.fylofooter ul {
  list-style: none;
}

.fylofooter svg {
  fill: white;
}
